<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370906508728-f6bo5ts2qkrh9mi074juopgqj98dbevr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370906508728-f6bo5ts2qkrh9mi074juopgqj98dbevr</string>
	<key>API_KEY</key>
	<string>AIzaSyBRNWfqQqftPH82y_jCsjS8juGdk3NHsPo</string>
	<key>GCM_SENDER_ID</key>
	<string>370906508728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wyn.firebaseAppInDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-1240c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-1240c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370906508728:ios:d6a1f85060c528935b334d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-1240c.firebaseio.com</string>
</dict>
</plist>